{% extends 'base.html' %}
{% block title %}Afluente CRM - Formulário de Cliente{% endblock title %}
{% block content %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4 mb-3"> Insira o Novo Cliente</h1>
            <form method="post" action="{% url 'demo:create' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nomeInput">
                        Nome:
                    </label>
                    <input type="text" name="nome" class="form-control" id="nomeInput"/>
                </div>
                <div class="form-group">
                    <label for="statusInput">
                        Status:
                    </label>
                    <select class="form-control" name="status" id="statusInput">
                        <option value="AT">Ativo</option>
                        <option value="INT">Inativo</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="servicoInput">
                        Serviço:
                    </label>
                    <select class="form-control" name="servico" id="servicoInput">
                        <option value="HOSP">Hospedagem</option>
                        <option value="MAIL">E-mail</option>
                        <option value="HOSPMAIL">Hospedagem e E-mail</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Salvar Cliente</button>
            </form>

        </div>
    </div>
</div>
</div>
{% endblock content %}

