{% extends 'base.html' %}
{% block title %}Afluente CRM - Demonstração{% endblock title %}
{% block content %}
<br>

<div class="container-fluid">
    {% if user.is_authenticated %}
    <ul>
        <li><a href="{% url 'demo:new' %}">Criar Novo Cliente</a></li>
        <li><a href="#">Remover ou Alterar Clientes</a></li>
    </ul>
    {% endif %}
    <h1>Clientes Cadastrados</h1>
	<div class="row">
        {% for clientes in demo %}
		<div class="col-md-3">
			<div class="card" align="center">
				<h5 class="card-header">
					{{ clientes.nome }}
					<br>
					<img class="img-fluid"
						 src="{{ clientes.imagem.url }}"
						 alt="{{ clientes.nome }}">
				</h5>
				<div class="card-body">
					<p class="card-text">
					{{ clientes.get_status_display }}
					</p>
				</div>
				<div class="card-footer">
					{{ clientes.get_servico_display }}
				</div>
			</div>
		</div>
        {% endfor %}
        <br>
	</div>
</div>
{% endblock content %}

