{% extends 'base.html' %}
{% block title %}Afluente CRM - Demonstração{% endblock title %}
{% block content %}
<div class="container-fluid">
	<div class="row">
        {% for clientes in demo %}
		<div class="col-md-12">
			<div class="card">
				<h5 class="card-header">
					{{ clientes.nome }}
				</h5>
				<div class="card-body">
					<p class="card-text">
					{{ clientes.status }}
					</p>
				</div>
				<div class="card-footer">
					{{ clientes.servico }}
				</div>
			</div>
		</div>
        {% endfor %}
	</div>
</div>
{% endblock content %}


