{% extends 'base.html' %}
{% block title %}Afluente CRM - Demonstração{% endblock title %}
{% block content %}
<br>
<div class="container-fluid">
	<div class="row">
        {% for clientes in demo %}
		<div class="col-md-3">
			<div class="card" align="center">
				<h5 class="card-header">
					{{ clientes.nome }}
					<br>
					<img class="img-fluid"
						 src="{{ clientes.imagem.url }}"
						 alt="{{ clientes.nome }}">
				</h5>
				<div class="card-body">
					<p class="card-text">
					{{ clientes.status }}
					</p>
				</div>
				<div class="card-footer">
					{{ clientes.servico }}
				</div>
			</div>
		</div>
        {% endfor %}
	</div>
</div>
{% endblock content %}


