[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1.7"
pytz = "*"
gunicorn = "*"
python-decouple = "*"
six = "*"
botocore = "*"
django-s3-folder-storage = "*"
django-storages = "*"
docutils = "*"
s3transfer = "*"
collectfast = "*"
dj-database-url = "*"
psycopg2-binary = "*"
pillow = "*"
django-debug-toolbar = "*"
sqlparse = "*"
urllib3 = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-django = "*"
coverage = "*"
pytest-cov = "*"
django-debug-toolbar = "*"
urllib3 = "*"

[requires]
python_version = "3.10"
