# Django deps

django==2.2.2
pytz==2019.1
gunicorn==19.9.0
python-decouple==3.1
six==1.11.0
botocore==1.15.34
django-s3-folder-storage==0.5
django-storages==1.7.1
docutils==0.14
jmespath==0.9.4
python-dateutil==2.8.0
s3transfer==0.2.0
collectfast==0.6.2
dj-database-url==0.5.0
psycopg2-binary==2.8.3
pillow==6.0.0
django-debug-toolbar==1.11
sqlparse==0.3.0