{% extends 'base.html' %}
{% block title %}Contatos{% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1> Afluente </h1>
            <p>Um CRM fruto de um projeto do <a href="http://www.python.pro.br">Curso Python Pro</a></p>
            <address>
                <strong>Riacho Serviços Web</strong>
                <br/><a href="riacho.info">riacho.info</a>
                <br/><a mailto="contato@riacho.info">contato at riacho.info</a>
                <br/> <abbr title="Phone">Telefone:</abbr> (123) 456-7890
            </address>
        </div>
    </div>
</div>
{% endblock content %}